In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Cleaning

check null values

In [82]:
df = pd.read_csv('cardekho_imputated.csv', index_col=0)
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [83]:
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

Dropping Car name and brand and keep only model

In [84]:
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [85]:
df.drop(columns=['car_name', 'brand'], axis=1, inplace=True)

In [86]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [87]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

Getting all different features

In [88]:
numerical_features = [cols for cols in df.columns if df[cols].dtype != 'O']
print(f"Number of numerical features is {len(numerical_features)}")
categorical_features = [cols for cols in df.columns if df[cols].dtype == 'O']
print(f"Number of categorical features is {len(categorical_features)}")
dicrete_features = [feature for feature in numerical_features if len(df[feature].unique()) <= 25]
print(f"Number of discrete features {len(dicrete_features)}")
continuous_feature = [feature for feature in numerical_features if feature not in dicrete_features]
print(f"Number of continuos features is {len(continuous_feature)}")

Number of numerical features is 7
Number of categorical features is 4
Number of discrete features 2
Number of continuos features is 5

Setting Independent and Dependent feature, since we want selling price as o/p that is our dependent feature

In [89]:
df.columns

Index(['model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [90]:
X = df.drop(columns=['selling_price'], axis=1)

In [91]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [92]:
y = df['selling_price']

In [93]:
pd.DataFrame(y)

       selling_price
0             120000
1             550000
2             215000
3             226000
4             570000
...              ...
19537         250000
19540         925000
19541         425000
19542        1225000
19543        1200000

[15411 rows x 1 columns]

### Feature encoding and scaling

In [94]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

Since model feature plays an important role in predicting the price we are doing label encoding

In [95]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [96]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [97]:
df['seller_type'].value_counts()

seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

In [98]:
df['fuel_type'].value_counts()

fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

In [99]:
df['transmission_type'].value_counts()

transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

Create a column transformer with 3 types of transformer

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.4+ MB

In [101]:
df.columns

Index(['model', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [102]:
num_features = X.select_dtypes(exclude='O').columns
onehot_columns = ['seller_type', 'fuel_type', 'transmission_type']
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [103]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer([
    ('OneHotEncoder', oh_transformer, onehot_columns),
    ('StandardScaler', numeric_transformer, num_features)
],remainder='passthrough'
)

In [104]:
X = preprocessor.fit_transform(X)

In [105]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

Train Test split

In [106]:
from sklearn.model_selection import train_test_split

In [107]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [108]:
X_train.shape

(12328, 14)

### Model Training and Selection

In [109]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error,root_mean_squared_error

Create a function to evaluate model

In [110]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = root_mean_squared_error(true, predicted)
    r2_square = r2_score(true, predicted)
    return mae, mse, rmse, r2_square

In [111]:
models = {
    'Linear Regression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'K-neighbours Regressor' : KNeighborsRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'Random Forest Regressor': RandomForestRegressor()


}

In [114]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    #Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #Evaluate Train and Test data
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)



    print(list(models.keys())[i])
    
    print('Model Performance for Training Set')
    print('-Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
    print('-Mean Squared Error: {:.4f}'.format(model_train_mse))
    print('-Mean Absolute Error: {:.4f}'.format(model_train_mae))
    print('-R2 Score: {:.4f}'.format(model_train_r2))
    

    print('------------------------------------')

    print('Model Performance for Test Set')
    print('Model Performance for Training Set')
    print('-Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
    print('-Mean Squared Error: {:.4f}'.format(model_test_mse))
    print('-Mean Absolute Error: {:.4f}'.format(model_test_mae))
    print('-R2 Score: {:.4f}'.format(model_test_r2))

    print('='*35)
    print('\n')

Linear Regression
Model Performance for Training Set
-Root Mean Squared Error: 553855.6665
-Mean Squared Error: 306756099359.7596
-Mean Absolute Error: 268101.6071
-R2 Score: 0.6218
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 502543.5930
-Mean Squared Error: 252550062888.5656
-Mean Absolute Error: 279618.5794
-R2 Score: 0.6645
===================================


Lasso
Model Performance for Training Set
-Root Mean Squared Error: 553855.6710
-Mean Squared Error: 306756104248.3742
-Mean Absolute Error: 268099.2226
-R2 Score: 0.6218
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 502542.6696
-Mean Squared Error: 252549134806.7813
-Mean Absolute Error: 279614.7461
-R2 Score: 0.6645
===================================


Ridge
Model Performance for Training Set
-Root Mean Squared Error: 553856.3160
-Mean Squared Error: 306756818740.9266
-Mean Absolute Error: 268059.8015
-R2 Score: 0.6218
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 502533.8230
-Mean Squared Error: 252540243247.9686
-Mean Absolute Error: 279557.2169
-R2 Score: 0.6645
===================================


K-neighbours Regressor
Model Performance for Training Set
-Root Mean Squared Error: 325873.0088
-Mean Squared Error: 106193217845.5548
-Mean Absolute Error: 91425.4705
-R2 Score: 0.8691
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 253024.3951
-Mean Squared Error: 64021344520.1508
-Mean Absolute Error: 112526.3461
-R2 Score: 0.9150
===================================


Decision Tree
Model Performance for Training Set
-Root Mean Squared Error: 20797.2352
-Mean Squared Error: 432524990.5364
-Mean Absolute Error: 5164.8199
-R2 Score: 0.9995
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 305915.6247
-Mean Squared Error: 93584369426.1767
-Mean Absolute Error: 125820.1616
-R2 Score: 0.8757
===================================


Random Forest Regressor
Model Performance for Training Set
-Root Mean Squared Error: 133757.3933
-Mean Squared Error: 17891040268.2012
-Mean Absolute Error: 40009.5701
-R2 Score: 0.9779
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 227114.8312
-Mean Squared Error: 51581146534.4858
-Mean Absolute Error: 102108.9041
-R2 Score: 0.9315
===================================

### Hyperparameter Tuning

Initialize few parameters for Hyperparameter tuning

In [ ]:
knn_params = {'n_neighbors' : [2,3,10,20,40,50]}
rf_params = {
    'max_depth': [5,8,15,None,10],
    'max_features': [5,7,'auto',8],
    'min_samples_split': [2,8,15,20],
    'n_estimators': [100,200,500,1000]

}

Models list for Hyperparametertuning

In [ ]:
randomcv_models = [
    ('KNN', KNeighborsRegressor(), knn_params),
    ('RF', RandomForestRegressor(), rf_params)
    ]

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

Hyperparameter Tuning

In [ ]:
model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model, param_distributions=params, n_iter=100,cv=3, verbose=2, n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"-------------------Best params for {model_name}--------------")
    print(model_param[model_name])

d:\Nivee\myenv\Lib\site-packages\sklearn\model_selection\_search.py:317: UserWarning: The total space of parameters 6 is smaller than n_iter=100. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits

d:\Nivee\myenv\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
84 fits failed out of a total of 300.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
84 fits failed with the following error:
Traceback (most recent call last):
  File "d:\Nivee\myenv\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\Nivee\myenv\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
  File "d:\Nivee\myenv\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
  File "d:\Nivee\myenv\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\Nivee\myenv\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.84291787 0.79903683        nan 0.82492421        nan 0.85256922
        nan 0.83352911        nan 0.85590139 0.85048072 0.83615514
 0.83667535 0.82390298 0.79013378 0.82943705 0.85168647 0.83842044
 0.85308508 0.82372704        nan        nan 0.85920768 0.84184641
 0.8374245         nan        nan 0.84331602        nan 0.84051028
        nan 0.82948421 0.8417729         nan 0.79353218 0.83661455
 0.85271769 0.80518768 0.84848964        nan        nan 0.84917604
 0.77060762 0.82599795 0.77872585        nan        nan 0.76947219
 0.85799777 0.77219348 0.84313547        nan 0.83592748 0.85553122
        nan 0.84210536 0.83461099 0.85516217 0.79296845        nan
 0.85793987        nan        nan 0.8505232  0.85152404        nan
 0.85623248 0.83683033        nan 0.82487414        nan        nan
        nan 0.79773943 0.8579758  0.83899726 0.82755764        nan
 0.82502716 0.79816004 0.82805003 0.82784716 0.8393464  0.84388296
 0.83495847 0.84604929 0.85364119 0.83082707 0.82506209 0.83474083
 0.8371457         nan 0.85266829 0.84054866 0.84408235 0.83443736
 0.84131712 0.84451335        nan 0.83763919]
  warnings.warn(

-------------------Best params for KNN--------------
{'n_neighbors': 10}
-------------------Best params for RF--------------
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 8, 'max_depth': None}

Retraining the model with best parameters

In [ ]:
models = {
    'K-neighbours Regressor' : KNeighborsRegressor(n_neighbors=10,n_jobs=-1),    
    'Random Forest Regressor': RandomForestRegressor(n_estimators=100, min_samples_split=2, max_features=8,max_depth=None,n_jobs=-1)

}

In [ ]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)

    #Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #Evaluate Train and Test data
    model_train_mae, model_train_mse, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae, model_test_mse, model_test_rmse, model_test_r2 = evaluate_model(y_train, y_test_pred)



    print(list(models.keys())[i])
    
    print('Model Performance for Training Set')
    print('-Root Mean Squared Error: {:.4f}'.format(model_train_rmse))
    print('-Mean Squared Error: {:.4f}'.format(model_train_mse))
    print('-Mean Absolute Error: {:.4f}'.format(model_train_mae))
    print('-R2 Score: {:.4f}'.format(model_train_r2))
    

    print('------------------------------------')

    print('Model Performance for Test Set')
    print('Model Performance for Training Set')
    print('-Root Mean Squared Error: {:.4f}'.format(model_test_rmse))
    print('-Mean Squared Error: {:.4f}'.format(model_test_mse))
    print('-Mean Absolute Error: {:.4f}'.format(model_test_mae))
    print('-R2 Score: {:.4f}'.format(model_test_r2))

    print('='*35)
    print('\n')

K-neighbours Regressor
Model Performance for Training Set
-Root Mean Squared Error: 363460.7706
-Mean Squared Error: 132103731766.7099
-Mean Absolute Error: 103472.0474
-R2 Score: 0.8371
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 363460.7706
-Mean Squared Error: 132103731766.7099
-Mean Absolute Error: 103472.0474
-R2 Score: 0.8371
===================================


Random Forest Regressor
Model Performance for Training Set
-Root Mean Squared Error: 125378.6476
-Mean Squared Error: 15719805283.7808
-Mean Absolute Error: 39337.5045
-R2 Score: 0.9806
------------------------------------
Model Performance for Test Set
Model Performance for Training Set
-Root Mean Squared Error: 125378.6476
-Mean Squared Error: 15719805283.7808
-Mean Absolute Error: 39337.5045
-R2 Score: 0.9806
===================================